[Unit]
Description=Enable Bluetooth QCA ROME HCI device
After=droid-late-start.target
Conflicts=shutdown.target actdead.target
 
[Service]
Type=oneshot
#SupplementaryGroups=bluetooth bt_net_admin
ExecStart=/bin/sh /usr/bin/droid/droid-bt_qca_rome-up.sh
RemainAfterExit=yes
 
[Install]
WantedBy=bluetooth.service
