[Unit]
Description=Load wifi module
Conflicts=shutdown.target actdead.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStartPre=/bin/touch /dev/wcnss_wlan
ExecStart=/sbin/modprobe qca_cld_wlan
ExecStop=/sbin/modprobe -r qca_cld_wlan
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
